<a href="https://colab.research.google.com/github/sachin2003226/data_processing/blob/main/1_intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 4
print(x, type(x))

y = True
print(y, type(y))

x = True
#x = 'c'
x = "this"
#x = 'this'
print(x, type(x))

z = 3.7
print(z, type(z))

s = "This is a string"
print(s, type(s))

4 <class 'int'>
True <class 'bool'>
this <class 'str'>
3.7 <class 'float'>
This is a string <class 'str'>

In [2]:
x = 4
x1 = x + 4
x2 = x * 3
x += 2
x3 = x
x *= 3
x4 = x
x5 = x % 4
z = 3.7
z1 = z - 2
z2 = z / 3
z3 = z // 3
z4 = z ** 2
z5 = z4 ** 0.5
z6 = pow(z,2)
z7 = round(z)
z8 = int(z)
print(x,x1,x2,x3,x4,x5)
print(z,z1,z2,z3,z4)
print(z5,z6,z7,z8)

18 8 12 6 18 2
3.7 1.7000000000000002 1.2333333333333334 1.0 13.690000000000001
3.7 13.690000000000001 4 3

In [3]:
import math

x = 4
print(math.sqrt(x))
print(math.pow(x, 2))
print(math.exp(x))
print(math.log(x, 2))
print(math.fabs(-4))
print(math.factorial(x))

z = 0.2
print(math.ceil(z))
print(math.floor(z))
print(math.trunc(z))

z = 3 * math.pi
print(math.sin(z))
print(math.tanh(z))

x = math.nan
print(math.isnan(x))

x = math.inf
print(math.isinf(x))

2.0
16.0
54.598150033144236
2.0
4.0
24
1
0
0
3.6739403974420594e-16
0.9999999869751758
True
True

In [4]:
y1 = True
y2 = False

print(y1 and y2)
print(y1 or y2)
print(y1 and not y2)

False
True
True

In [5]:
s1 = "This"
print(s1[1:])
print(len(s1))
print("Length of string is " + str(len(s1)))
print(s1.upper())
print(s1.lower())

s2 = "This is a string"
words = s2.split(' ')
print(words[0])
print(s2.replace('a', 'another'))
print(s2.replace('is', 'at'))
print(s2.find("a"))
print(s1 in s2)
print(s1 == 'This')
print(s1 < 'That')
print(s2 + " too")
print((s1 + " ")* 3)

his
4
Length of string is 4
THIS
this
This
This is another string
That at a string
8
True
True
False
This is a string too
This This This

In [7]:
intlist = [1, 3, 5, 7, 9]
print(type(intlist))
print(intlist)
intlist2 = list(range(0,10,2))
print(intlist2)
print(intlist[2])
print(intlist[:2])
print(intlist[2:])
print(len(intlist))
print(sum(intlist))
intlist.append(11)
print(intlist)
print(intlist.pop())
print(intlist)
print(intlist + [11,13,15])
print(intlist * 3)
intlist.insert(2,4)
print(intlist)
intlist.sort(reverse=True)
print(intlist)

<class 'list'>
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]
5
[1, 3]
[5, 7, 9]
5
25
[1, 3, 5, 7, 9, 11]
11
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]
[1, 3, 4, 5, 7, 9]
[9, 7, 5, 4, 3, 1]

In [8]:
mylist = ['this', 'is', 'a', 'list']
print(mylist)
print(type(mylist))
print("list" in mylist)
print(mylist[2])
print(mylist[:2])
print(mylist[2:])
mylist.append("too")
separator = " "
print(separator.join(mylist))
mylist.remove("is")
print(mylist)

['this', 'is', 'a', 'list']
<class 'list'>
True
a
['this', 'is']
['a', 'list']
this is a list too
['this', 'a', 'list', 'too']

In [9]:
abbrev = {}
abbrev['MI'] = "Michigan"
abbrev['MN'] = "Minnesota"
abbrev['TX'] = "Texas"
abbrev['CA'] = "California"
print(abbrev)
print(abbrev.keys())
print(abbrev.values())
print(len(abbrev))
print(abbrev.get('MI'))
print("FL" in abbrev)
print("CA" in abbrev)
keys = ['apples', 'oranges', 'bananas', 'cherries']
values = [3, 4, 2, 10]
fruits = dict(zip(keys, values))
print(fruits)
print(sorted(fruits))
from operator import itemgetter
print(sorted(fruits.items(), key=itemgetter(0)))
print(sorted(fruits.items(), key=itemgetter(1)))

{'MI': 'Michigan', 'MN': 'Minnesota', 'TX': 'Texas', 'CA': 'California'}
dict_keys(['MI', 'MN', 'TX', 'CA'])
dict_values(['Michigan', 'Minnesota', 'Texas', 'California'])
4
Michigan
False
True
{'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
['apples', 'bananas', 'cherries', 'oranges']
[('apples', 3), ('bananas', 2), ('cherries', 10), ('oranges', 4)]
[('bananas', 2), ('apples', 3), ('oranges', 4), ('cherries', 10)]

In [10]:
MItuple = ('MI', 'Michigan', 'Lansing')
CAtuple = ('CA', 'California', 'Sacramento')
TXtuple = ('TX', 'Texas', 'Austin')
print(MItuple)
print(MItuple[1:])
states = [MItuple, CAtuple, TXtuple]
print(states)
print(states[2])
print(states[2][:])
print(states[2][1:])
states.sort(key=lambda state: state[2])
print(states)

('MI', 'Michigan', 'Lansing')
('Michigan', 'Lansing')
[('MI', 'Michigan', 'Lansing'), ('CA', 'California', 'Sacramento'), ('TX', 'Texas', 'Austin')]
('TX', 'Texas', 'Austin')
('TX', 'Texas', 'Austin')
('Texas', 'Austin')
[('TX', 'Texas', 'Austin'), ('MI', 'Michigan', 'Lansing'), ('CA', 'California', 'Sacramento')]

In [12]:

x = 10
if x % 2 == 0:
  print("x =", x, "is even")
else:
  print("x =", x, "is odd")
if x > 0:
  print("x =", x, "is positive")
elif x < 0:
  print("x =", x, "is negative")
else:
  print("x =", x, "is neither positive nor negative")

x = 10 is even
x = 10 is positive

In [13]:
mylist = ['this', 'is', 'a', 'list']
for word in mylist:
  print(word.replace("is", "at"))

mylist2 = [len(word) for word in mylist]
print(mylist2)

states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
('TX', 'Texas', 'Austin')]
sorted_capitals = [state[2] for state in states]
sorted_capitals.sort()
print(sorted_capitals)

fruits = {'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
fruitnames = [k for (k,v) in fruits.items()]
print(fruitnames)

that
at
a
latt
[4, 2, 1, 4]
['Austin', 'Lansing', 'Sacramento']
['apples', 'oranges', 'bananas', 'cherries']

In [16]:

mylist = list(range(-10,10))
print(mylist)
i = 0
while (mylist[i] < 0):
  i = i + 1
print("First non-negative number:", mylist[i])

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
First non-negative number: 0

In [17]:
myfunc = lambda x: 3*x**2 - 2*x + 3

print(myfunc(2))

11

In [19]:
import math

def discard(inlist, sortFlag=False):
  outlist = []
  for item in inlist:
    if not math.isnan(item):
      outlist.append(item)
  if sortFlag:
    outlist.sort()
  return outlist
# default value for sortFlag is False
mylist = [12, math.nan, 23, -11, 45, math.nan, 71]
print(discard(mylist,True))

[-11, 12, 23, 45, 71]

In [23]:
states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
          ('TX', 'Texas', 'Austin'), ('MN', 'Minnesota', 'St Paul')]

with open('states.txt', 'w') as f:
  f.write('\n'.join('%s,%s,%s' % state for state in states))

with open('states.txt', 'r') as f:
  for line in f:
    fields = line.split(sep=',')
    print('State=',fields[1],'(',fields[0],')','Capital:', fields[2])

State= Michigan ( MI ) Capital: Lansing

State= California ( CA ) Capital: Sacramento

State= Texas ( TX ) Capital: Austin

State= Minnesota ( MN ) Capital: St Paul